<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensaje Enviado</title>
  <link rel="stylesheet" th:href="@{/css/contacto.css}">
</head>
<body>

<div class="container">
  <h1>Gracias por contactarnos, <span class="highlight" th:text="${name}">Usuario</span>!</h1>
  <p>Hemos recibido tu mensaje y nos pondremos en contacto contigo pronto.</p>
  <a class="btn" th:href="@{/productos}">Volver al inicio</a>
</div>

</body>
</html>
