<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensaje Enviado</title>
  <link rel="stylesheet" href="/css/contacto.css">
</head>
<body>

<div class="container">
  <h1>Gracias por contactarnos, <span class="highlight" th:text="${name}"></span>!</h1>
  <p>Hemos recibido tu mensaje y nos pondremos en contacto contigo pronto.</p>
  <a href="/productos" class="btn">Volver al inicio</a>
</div>

</body>
</html>
